@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}
#hero_txt {
    padding-top: 17%;
    padding-left: 4%;
}
#hero_txt h1 {
    font-size: 4.2em;
    font-weight: 600;
}

#hero_txt p {
    font-size: 1.3em;
    font-style: italic;
}
#mainNavbar a {
    color: black;
}

#mainNavbar ul .active {
    text-decoration: underline;
    font-weight: 600;
}
#mainNavbar .hover {
    cursor: pointer;
}

#mainNavbar .hover:hover {
    border: 2px solid #2b2b2b;
    color: #707070;
}

.navbar-toggler {
    background: transparent !important;
}
.navbar-toggler:hover {
    background: transparent !important;
}
.navbar-toggler .navicon {
    width: 28px;
    height: 3px;
    background-color:#2b2b2b;
    margin: 5px 0;
    transition: all 0.2s;
}
.contain {
    display: inline-block;
    cursor: pointer;
}
  
.navbar-toggler .bar1 {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .bar2 {
    opacity: 0;
}
  
.navbar-toggler .bar3 {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .bar1 {
    transform: rotate(0);
}
.navbar-toggler.collapsed .bar2 {
    opacity: 1;
}
.navbar-toggler.collapsed .bar3 {
    transform: rotate(0);
}

#page-2 .rectangle {
    width: 1400px;
    height: 450px;
    border: 1px solid #707070;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    column-count: 2;
    column-gap: 2%;
}
#page-2 .rectangle .left {
    width: 25%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
}
#page-2 .rectangle .left h1 {
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    padding-top: 55%;
}
#page-2 .rectangle .right {
    width: 75%;
}
#page-2 .rectangle .right h2 {
    padding-top: 0.5em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.55em;
}
#page-2 .rectangle .right p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align:left;
}
@media (max-width: 530px) {
    #page-1 .svg_img {
        display: none;
    }
    #page-2 .rectangle {
        width: 85%;
        height: 100%;
        border: 1px solid #707070;
        margin: 50% auto;
        display: flex;
        flex-direction: column;
        column-count: 2;
        column-gap: 2%;
    }
    #page-2 .rectangle .left {
        width: 100%;
        padding-bottom: 5%;
        padding-left: 5%;
    }
    #page-2 .rectangle .right {
        padding-left: 5%;
    }
    #page-2 .rectangle .left h1 {
        font-weight: 600;
        font-size: 2.5em;
        line-height: 0;
    }        
    #page-2 .rectangle .right h2 {
        padding-top: 0.5em;
        margin-bottom: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.6em;
    }
    #page-2 .rectangle .right p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        text-align: left;
    }
}
@media (min-width: 531px) and (max-width: 765px) {
    #page-1 .svg_img {
        display: none;
    }
    #page-2 .rectangle {
        width: 85%;
        height: 100%;
        border: 1px solid #707070;
        margin: 50% auto;
        display: flex;
        flex-direction: column;
        column-count: 2;
        column-gap: 2%;
    }
    #page-2 .rectangle .left {
        width: 100%;
        display: flex;
        justify-content: left;
    }
    #page-2 .rectangle .left h1 {
        text-align: center;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 0;
        padding-left: 5%;
        padding-bottom: 5%;
    }

    #page-2 .rectangle .right {
        width: 100%;
        padding-left: 5%;
    }
    #page-2 .rectangle .right h2 {
        padding-top: 0.5em;
        margin-bottom: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.6em;
    }
    #page-2 .rectangle .right p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        text-align: left;
    }
}
@media (min-width: 800px) and (max-width: 900px) {
    body div #activeLink .active {
        padding-left: 65%;

    }
}
@media (min-width: 901px) {
    body div #activeLink .active {
        padding-left: 85%;
    }
}
@media (min-width: 1080px) {
    section .row .svg_img #geometric {
        min-width: 110%;
        max-width: 110%;
        justify-content: center;
    }
}