@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');
body {
    margin: 0;
    padding: 0;
}
:root {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
    --transition-speed: 600ms;
}
body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
.main {
    margin-left: 5rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbarr {
    position: fixed;
    background-color: #2b2b2b;
    transition: width 200ms ease;
    z-index: 10;
}
.active {
    background-color: black;
}
 .lang-icon {
    padding-right: 1%;
}
.navbarr-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #2b2b2b;
    background-color: #707070;
    letter-spacing: 0.15ch;
    font-size: 1.4rem;
    width: 100%;
}

.logo .icon {
    margin-left: 3%;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.logo-text {
    display: inline;
    transition: var(--transition-speed);
}
.navbarr:hover .logo .icon {
    transform: rotate(-180deg);
    transition: var(--transition-speed);
  }
.nav-item {
    width: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    text-decoration: none;
}
.link-text {
    display: none;
}
.nav-link .icon {
    min-width: 3rem;
    margin-right: 0.5rem;
}
a:hover {
    color: white;
}
.nav-item:hover {
    background-color: black;
}
.nav-item:hover .icon{
    /*color: #d72323;*/
    color:#a03232;
    transition: var(--transition-speed);
}
#page-1 .row .svg_img {
    width: 40%;
}
#page-1 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}
#hero_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
#hero_txt h1 {
    font-size: 4.2em;
    font-weight: 600;
}

#hero_txt p {
    font-size: 1.3em;
    font-style: italic;
}
#page-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#page-2 .rectangle {
    width: 70%;
    height: 70%;
    border: 1px solid #707070;
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
#page-2 .rectangle .left {
    width: 30%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#page-2 .rectangle .left h1 {
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    margin: 0;
}
#page-2 .rectangle .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 1rem 0 1rem;
}
#page-2 .rectangle .right h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.55em;
    margin: 0;
}
#page-2 .rectangle .right p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align:left;
    margin-top: 2rem;
    margin-bottom: 0;
}
#page-3 .rectangle{
    width: 70%;
    height: 70%;
    border: 1px solid #707070;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
}
#page-3 #head-pg-3 {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
}
#page-3 #head-pg-3 h1 {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3em;
    margin: 3rem;
}
#page-3 #Progress .row {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#page-3 #Progress #column-1 {
    width: 33.333%;
    padding-left: 2rem;
}
#page-3 #Progress #column-2 {
    width: 33.333%;
    padding: 0 2rem;
}
#page-3 #Progress #column-3 {
    width: 33.333%;
    padding-right: 2rem;
}
#page-3 #Progress .column {
    display: flex;
    flex-direction: column;
    float: left;
}
#page-3 #Progress .column .languages {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#page-3 #Progress .column .languages h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.75em;
    margin: 2rem 0 1rem 0;
}
#page-3 #Progress .row .column .barss {
    width: 80%;
}
#page-4 .rectangle {
    width: 70%;
    height: 70%;
    border: 1px solid #707070;
    margin: 5rem 0;
    display: flex;
}
#page-4 .rectangle .left {
    width: 30%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page-4 .rectangle .left h1 {
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}
#page-4 .rectangle .right {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#page-4 .rectangle .right .row .column {
    display: flex;
    flex-direction: row;
}
#buttons {
    padding: 0 2rem 0 2rem;
}
/*Small Screens*/
/*@media (max-width: 530px) {
    #page-1 .svg_img {
        display: none;
    }
    #page-2 .rectangle {
        width: 85%;
        height: 100%;
        border: 1px solid #707070;
        margin: 50% auto;
        display: flex;
        flex-direction: column;
        column-count: 2;
        column-gap: 2%;
    }
    #page-2 .rectangle .left {
        width: 100%;
        padding-bottom: 5%;
    }
    #page-2 .rectangle .right {
        padding-left: 5%;
    }
    #page-2 .rectangle .left h1 {
        font-weight: 600;
        font-size: 2.5em;
        line-height: 0;
    }
    #page-2 .rectangle .right h2 {
        padding-top: 0.5em;
        margin-bottom: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.6em;
    }
    #page-2 .rectangle .right p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        text-align: left;
    }
    #page-3 .top {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 0.8em;
        text-align: center;
    }
    #page-3 .top h1 {
        padding-top: 50%;
    }
    #page-3 .rectangle-pg-3 {
        width: 85%;
        height: 100%;
        border: 1px solid #707070;
        margin: 50% auto;
        display: flex;
        flex-direction: column;
        column-count: 2;
        column-gap: 2%;
    }
    #page-4 .rectangle {
        width: 85%;
        height: 100%;
        border: 1px solid #707070;
        margin: 50% auto;
        display: flex;
        flex-direction: column;
        column-count: 2;
        column-gap: 2%;
    }
    #page-4 .rectangle .left {
        width: 100%;
        padding-bottom: 5%;
    }
    #buttons {
        padding-top: 20%;
    }
    #page-4 .rectangle .right {
        padding-left: 5%;
        padding-bottom: 20%;
    }
    #page-4 .rectangle .left h1 {
        font-weight: 600;
        font-size: 2.5em;
        line-height: 0;
    }
}*/
@media (max-width: 765px) {
    .navbarr {
        bottom: 0;
        z-index: 15;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbarr .navbarr-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    .main {
        margin: 0;
        width: 100vw;
        height: 80vh;
    }
    #page-1 .row {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    #hero_txt {
        margin: 0;
        margin-top: 20vh;
        text-align: center;
    }
    #page-2 .rectangle {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2rem;
        white-space: -moz-pre-wrap;
    }
    #page-2 .rectangle .left {
        width: 100%;
    }
    #page-2 .rectangle .left h1 {
        padding: 2rem 0;
    }
    #page-2 .rectangle .right {
        width: 99%;
    }
    #page-2 .rectangle .right h2 {
        padding: 2rem 0 0 0;
        font-size: 2rem;
        text-align: center;
    }
    #page-2 .rectangle .right p {
        margin: 1rem 0;
        padding: 0 1rem 0 0;
        font-size: 1.1rem;
    }
    #page-3 .rectangle{
        width: 90%;
        height: 80%;
        margin: 2rem;
    }
    #page-3 .row .column .lang-icon {
        display: none;
    }
    #page-3 #head-pg-3 {
        text-align: center;
        justify-content: center;
    }
    #page-3 #head-pg-3 h1 {
        margin: 0;
        padding: 2rem 0;
    }
    #page-3 #Progress .row {
        width: 100%;
        flex-direction: row;
    }
    /* #page-3 #Progress #column-3 {
        text-align: center;
    } */
    #page-3 #Progress .column .languages h2{
        font-size: 1.2em;
        margin: 1.5rem 0 1.5rem 0;
    }
    #page-4 {
        width: 100vw;
        padding: 0;
    }
    #page-4 .rectangle {
        width: 90%;
        height: 80%;
        flex-direction: column;
        margin: 0 2rem 10rem 2rem;
    }
    #page-4 .rectangle .left {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    #page-4 .rectangle .left h1 {
        padding: 2rem 0;
    }
    #page-4 .rectangle .right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #page-4 .rectangle .right .row .column {
        display: flex;
        flex-direction: column;
    }
    #buttons {
        padding: 2rem 0 2rem 0;
    }
}
@media (max-height: 740px) {
    #page-2 .rectangle .right p {
        font-size: 0.95rem;
    }
}
@media (min-height: 740px) {
    #page-2 .rectangle .right p {
        font-size: 1.1rem;
    }
}
@media (min-width: 765px) {
    .navbarr {
        top: 0;
        width: 5rem;
        height: 100vh;
        padding: 0;
        margin: 0;
        float: left;
    }
    .navbarr:hover {
        width: 17rem;
    }
    .navbarr:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
    #sm-screen {
        display: none;
    }
}
@media (max-width: 1150px) {
    #lg-screen {
        display: none;
    }
    #page-1 .row {
        margin: 0;
        padding: 0;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #hero_txt {
        margin: 0;
        margin-top: 20vh;
        text-align: center;
    }
}